body {
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}


/* error page while routing */

.error-page {
    background-color: rgb(63, 63, 63);
    color: white;
    padding: 2%;
    font-size: 1.4vw;
    font-weight: lighter;
}

.unknown {
    color: rgb(31, 30, 30)
}